.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: $primary_color;
  padding: 3.875rem 0;
  overflow: auto;

  .session-card {
    width: 29rem;
    min-width: 29rem;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .625rem;

    @media only screen and (max-width: $md) {
      width: 28rem;
      min-width: 28rem;
    }

    &-content {

      div {
        justify-content: space-between;
      }
    }
  }
}