/** --- Header Dates Section => date chips --- */
.date-chip-box{
    @media only screen and (min-width: calc($md + 1px)){
        margin-bottom: 1rem;
    }

    .date-chip-element{
        min-width: 13.75rem;
        margin-right: 1rem;
        
        span {
            text-transform: capitalize;
        }
        
        @media only screen and (max-width: $md){
            margin-bottom: 1rem;
        }
    }
}