.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: $primary_color;
    padding: 3.875rem 0;
    overflow: auto;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 0;
}