.login {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-box {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        width: 40rem;
        padding: 2rem;

        .login-header {
            text-align: center;
        }
    }
}